Hey {{name}}

A third-party GitHub Application (Vercel) with the following permissions:

  - View your email addresses

Was recently authorized to access your account.

Visit https://github.com/settings/connections/applications/Iv1.9d7d662ea00b8481 for more information.

To see this and other security events for your account, visit https://github.com/settings/security-log

If you run into problems, please contact support by visiting https://github.com/contact

Thanks,
date: {{date}}
The GitHub Team